#root {
  padding: 2rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  /* gap: 20px; */
}

.second-block {
  padding: 0;
  justify-content: flex-start;
}

@media (max-width: 1100px) {
  .listado,
  .buscador-container {
    display: none;
  }
  .second-block {
    justify-content: center;
  }
}
